@import url(../css/awesome.css);
@import url(../css/cdn.css);

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

section{
  padding: 100px 0;
}

.container{
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

.title{
  text-align: center;
  margin: 0 auto 25px;
  font-size: 36px;
  padding: 100px 0 0;
  width: 668px;
  font-family: "Raleway";
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #212121;
}

.line{
  width: 64px;
  height: 2px;
  background-color: #D98943;
  margin: 0 auto 34px;
}

.subtitle{
  text-align: center;
  margin: 0 auto 68px;
  font-size: 14px;
  font-weight: normal;
  color: #86878b;
}
.awesome-card{
}